<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nosair</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="inner">

        <div class="item" v-for="item in catalog">
            <div class="counter" v-if="cart[item.id]">{{ cart[item.id] }}</div>
            <img src="img/serenity.png" alt="Serenity" class="img">
            <p>{{ item.name }} · {{ item.price }}₽</p>
            <button class="btn" v-on:click="add(item.id)" v-if="!cart[item.id]">Добавить</button>
            <section v-if="cart[item.id]">
                <button class="btn" v-on:click="add(item.id)">+</button>
                <button class="btn" v-on:click="del(item.id)">-</button>
            </section>
        </div>

    </div>
</div>

<div class="usercard" id="usercard"></div>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="app.js"></script>
</body>
</html>