body {
    font-family: 'Rubik', sans-serif;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

body {
    font-family: 'Rubik', sans-serif;
    /*--tg-theme-bg-color: #fff;*/
    /*--tg-theme-text-color: 000;*/
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item img {
    height: 120px;
    border-radius: 15px;
}

p {
    font-size: 1.7em;
}

button {
    cursor: pointer;
}

button {
    /*--tg-theme-button-color: #5188c1;*/
    /*--tg-theme-button-text-color: #ffffff;*/
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 16px;
    height: 30px;
    border-radius: 7px;
    box-sizing: border-box;
    text-transform: uppercase;
    outline: none;
    border: none;
}
