body {
    font-family: 'Rubik', sans-serif;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.item {
    width: 30%;
    display: flex;
}

body {
    font-family: 'Rubik', sans-serif;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 90%;
    border-radius: 15px;
}

.button {
    /*--tg-theme-button-color: #5353cb;*/
    /*--tg-theme-button-text-color: #ffffff;*/
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    font-size: 1.7em;
    font-family: 'Rubik', sans-serif;
    padding: 12px;
    border-radius: 25px;
}

p {
    font-size: 1.7em;
}