body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 390px;
    overflow: hidden;
}

.inner {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 235px 235px 235px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.img {
    width: 150px;
    border-radius: 10px;
}

.item {
    text-align: center;
    position: relative;
}

.item p {
    margin: 6px 0;
    font-weight: 500;
}

.counter {
    position: absolute;
    right: 0;
    margin: 5px;
    background: #f8a818;
    padding: 4px 8px;
    border-radius: 15px;
    font-weight: 500;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;

    transition: background .2s linear;
}

.btn:hover {
    background: #c58718;
}

.item section {
    display: flex;
    justify-content: space-evenly;
}

.item section .btn {
    width: 45%;
    padding: 5px 10px;
    font-size: larger;
}

.usercard {
    text-align: center;
}

/*var(--tg-theme-bg-color)*/
/*var(--tg-theme-text-color)*/
/*var(--tg-theme-hint-color)*/
/*var(--tg-theme-link-color)*/
/*var(--tg-theme-button-color)*/
/*var(--tg-theme-button-text-color)*/

